extends layout
block head
	title Card Game
block content
	.container.backBox
		.row
			.span9
				.hero-unit(align="center")
					h1 Anycard
					p We varies them.
					- if (typeof locals.user !== 'undefined')
						p  your username is #{locals.user.username}
					- else
						p
							a.btn.btn-primary.btn-large(href="/login") Log in Now &raquo
						p
							a.btn.btn-inverse.btn-large(href="/register") Register an Account &raquo
					
			.span3
				#hand
		.row		
			.span3
				#hand
			.span3
				#hand
			.span3
				#hand


