extends layout
block head
	title Choose a Game
block scripts
	script(src="/socket.io/socket.io.js")
block content
	games = locals.gamelist
	mixin game(game)
		.thumbnail.gameLabel
			.caption
				h3 #{game.name}
				p Game Type: #{game.gameType}
				p Players:
				ul.unstyled
					if game.usernames.length == 0
						li None
					-each user in game.usernames
						li=user
				p 
					gameLink = "/game/" + game._id
					a.btn.btn-primary(href=gameLink) Join Game!
	.container.backBox
		-each game in games
			mixin game(game)
